# OS-related
**/.DS_Store

# Environment
.envrc
.env

# Editor
pyrightconfig.json
.idea

# Python
*.egg-info
**/__pycache__
**/.ipynb_checkpoints
build/
**.ipynb

# Data files
*.log
pegasus/consumed.yaml
